openapi: 3.0.3
info:
  title: Credential Service API
  description: API for managing Verifiable Credentials.
  version: 1.0.0
servers:
  - url: https://api.kyc-vault.com/v1/credentials
paths:
  /:
    post:
      summary: Create a new credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
  /{id}:
    get:
      summary: Retrieve a credential by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    delete:
      summary: Revoke a credential
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /{id}/export:
    get:
      summary: Export credential in portable format
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /reissue:
    post:
      summary: Reissue a credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialId:
                  type: string
      responses:
        '201':
          description: Reissued
components:
  schemas:
    CredentialRequest:
      type: object
      properties:
        credential:
          type: object
        options:
          type: object
    CredentialResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            credentialId:
              type: string
            status:
              type: string
